body {
  background-color: #1a1919;
  color: white;
}

.nomination-bg {
  min-height: 100vh;
  width: 100%;
  background-image: url("src/assets/bg.info.netflix.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nomination-btn {
  background-image: url("src/assets/netflix-logo-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 28px 28px;
  padding-left: 56px;
  background-color: #57030700 !important;
  color: white !important;
  border: none;
  min-height: 48px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 0px 9px 5px rgb(104, 1, 1);
}
.nomination-btn:hover,
.nomination-btn:focus {
  background-color: #6b0005 !important;
}

.page-container {
  min-height: 100vh;
  background-color: #1a1919; /* Colore scuro */
  color: white; /* Testo bianco */
  padding: 20px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #b20710;
}

.search-results {
  margin-top: 20px;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.carousel-item img {
  transition: transform 0.3s ease-in-out;
}

.carousel-item img:hover {
  transform: scale(1.05);
}
